	.details {
		background-color: $osnovnoy-temnyy;
		border-radius: 0 0 30px 30px;
		@include adaptiveValue("padding-top", 80, 40, 0, 1320, 768);
		@include adaptiveValue("padding-bottom", 80, 20, 0, 1320, 768);
		@media (max-width:$mobile){
			 border-radius: 0 0 20px 20px; 
		}
		&__body {
			margin-top: 100px;
			display: grid;
			gap: 30px;
			grid-template-columns: repeat(4, 1fr);
			position: relative;

			@media (max-width:$tablet) {
				grid-template-columns: 1fr 1fr;
			}

			@media (max-width:$mobileSmall) {
				grid-template-columns: 100%;
				gap: 20px;
			}

			&::after {
				content: '';
				position: absolute;
				// width: 2.635659%; /* 34/1290 */
				width: 34px;
				aspect-ratio: 1 / 1;
				border: 2px solid $mainColor;
				border-radius: 0 50% 0 50%;
				top: 50%;
				left: 50%;
				translate: -50% -50%;

				@media (max-width:$tablet) {
					display: none;
				}
			}
		}

		&__item {
			border-radius: 20px;
			aspect-ratio: 1/1;
			background-color: $mainColor;
			position: relative;
			display: grid;
			place-items: center;

			@media (max-width:$mobileSmall) {
				aspect-ratio: 330/180;
			}

			p {
				text-align: center;
				color: $osnovnoy-temnyy;
				font-weight: 700;
				margin-top: 10px;
				@include adaptiveValue("font-size", 30, 20, 0, 1320, 768);
			}

			&.r {
				span {}
			}
		}

		&__content {
			display: grid;
			justify-items: center;
			padding: 5px;
			svg {
				@media (min-width:$tablet){
					 @include adaptiveValue("width", 150, 100,0,1320,992); 
				}
				@media (min-width: $mobileSmall) and (max-width: $tablet){
					  @include adaptiveValue("width", 200, 100,0,991,480);
				}
				@media (max-width:$mobileSmall){
					 width: 100px; 
				}
			}
		}
	}

	.details {

		&__container {}

		&__title {}

		&__body {}

		&__decor {
			position: absolute;
			top: 100%;
			left: 50%;
			translate: -50%;
			background-color: $mainColor;
			height: 30px;
			width: 68.333333%;

			@media (max-width:$mobileSmall) {
				height: 20px;
			}

			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 9.76%;
				width: 20px;
				height: 100%;
				border-radius: 50%;
				background-color: $osnovnoy-temnyy;
			}

			&::before {
				left: -10px;
			}

			&::after {
				right: -10px;
			}
		}

		&__decor-r {
			position: absolute;
			background-color: $mainColor;
			left: 100%;
			top: 50%;
			translate: 0 -50%;
			width: 30px;
			height: 68.333333%;

			/* 205/300 */
			&::before,
			&::after {
				content: "";
				position: absolute;
				border-radius: 50%;
				background-color: $osnovnoy-temnyy;
				width: 100%;
				height: 20px;
			}

			&::before {
				left: 0;
				top: -10px;
			}

			&::after {
				right: 0;
				bottom: -10px;
			}
		}

		&__item {
			@media (max-width:$mobileSmall) {
				border-radius: 20px;
			}

			&_1 {}

			&_2 {
				background-color: initial;
				border: 2px solid $mainColor;
				@media (min-width:$tablet){
					border-bottom-right-radius: 0;
				}
				p {
					color: $mainColor;
				}

				@media (max-width:$mobileSmall) {
					background-color: $mainColor;

					p {
						color: $osnovnoy-temnyy;
					}

					svg path {
						fill: $osnovnoy-temnyy;
					}
				}
			}

			&_3 {
				.details__decor {
					display: none;
				}

				@media (max-width:$mobileSmall) {
					background-color: initial;
					outline: 2px solid $mainColor;
					position: relative;

					p {
						color: $mainColor;
					}

					svg path {
						fill: $mainColor
					}

					.details__decor {
						display: block;
						background-color: initial;
						// top: 100%;
						border-top: 2px solid $osnovnoy-temnyy;
						border-bottom: 2px solid $osnovnoy-temnyy;
						z-index: 2;

						&::before {
							content: '';
							// border-right: 2px solid $mainColor;
							top: -2px;
							height: 20px;
							background: url('@img/main/details/circkle.png') 0 0 / contain no-repeat;
							rotate: 180deg;
						}

						&::after {
							content: '';
							// border-left: 2px solid $mainColor;
							background: url('@img/main/details/circkle.png') 0 0 / contain no-repeat;
							top: -2px;
							height: 20px;
						}
					}

					.details__decor-r {
						display: none;
					}
				}
			}

			&_4 {
				@media (max-width:$mobileSmall) {
					background-color: initial;
					outline: 2px solid $mainColor;
					position: relative;

					p {
						color: $mainColor;
					}

					svg path {
						fill: $mainColor
					}

					.details__decor {
						display: none;
					}
				}
			}

			&_5 {
				.details__decor {
					display: none;
				}

				@media (max-width:$mobileSmall) {
					background-color: $mainColor;

					p {
						color: $osnovnoy-temnyy;
					}

					svg path {
						fill: $osnovnoy-temnyy;
					}

					.details__decor-r {
						display: none;
					}

					.details__decor {
						display: block;
					}
				}
			}

			&_6 {
				@media (max-width:$mobileSmall) {
					background-color: $mainColor;

					p {
						color: $osnovnoy-temnyy;
					}

					svg path {
						fill: $osnovnoy-temnyy;
					}
				}
			}

			&_7 {
				background-color: initial;
				outline: 2px solid $mainColor;
				@media (min-width:$tablet){
					border-top-left-radius: 0;
				}
				p {
					color: $mainColor;
				}

				.details__decor {
					display: none;
				}

				@media (max-width:$mobileSmall) {
					position: relative;

					.details__decor {
						display: block;
						background-color: initial;
						// top: 100%;
						// height: 20px;
						border-top: 2px solid $osnovnoy-temnyy;
						border-bottom: 2px solid $osnovnoy-temnyy;
						z-index: 2;
						&::before{
							// border-right: 2px solid #fffaf0;
							top: -2px;
							height: 20px;
							background: url('@img/main/details/circkle.png') 0 0 / contain no-repeat;
							rotate: 180deg;
						}
						&::after{
							// border-left: 2px solid #fffaf0;
							top: -2px;
							height: 20px;
							background: url('@img/main/details/circkle.png') 0 0 / contain no-repeat;
						}
					}

				}
			}

			&_8 {
				@media (max-width:$mobileSmall) {
					background-color: $osnovnoy-temnyy;
					outline: 2px solid $mainColor;
					position: relative;

					p {
						color: $mainColor;
					}

					svg path {
						fill: $mainColor;
					}

				}
			}
		}
	}
