	.details {
		background-color: $osnovnoy-temnyy;
		border-radius: 0 0 30px 30px;
		@include adaptiveValue("padding-top", 80, 40,0,1320,768);
		@include adaptiveValue("padding-bottom", 80, 20,0,1320,768);
		&__body {
			outline: 1px solid red;
			margin-top: 100px;
			display: grid;
			gap: 30px;
			grid-template-columns: repeat(4, 1fr);
			position: relative;
			@media (max-width:$tablet){
				grid-template-columns: 1fr 1fr;
			}
			@media (max-width:$mobileSmall){
				 grid-template-columns: 1fr; 
			}
			&::after {
				content: '';
				position: absolute;
				// width: 2.635659%; /* 34/1290 */
				width: 34px;
				aspect-ratio: 1 / 1;
				border: 2px solid $mainColor;
				border-radius: 0 50% 0 50%;
				top: 50%;
				left: 50%;
				translate: -50% -50%;
			}
		}

		&__item {
			border-radius: 20px;
			aspect-ratio: 1/1;
			background-color: $mainColor;
			position: relative;
			display: grid;
			place-items: center;
	
			
	
			span {
				position: absolute;
				top: 100%;
				left: 50%;
				translate: -50%;
				background-color: $mainColor;
				height: 30px;
				width: 68.333333%;
				/* 205/300 */
	
				&::before,
				&::after {
					content: "";
					position: absolute;
					width: 9.76%;
					width: 20px;
					height: 100%;
					border-radius: 50%;
					background-color: $osnovnoy-temnyy;
				}
	
				&::before {
					left: -10px;
				}
	
				&::after {
					right: -10px;
				}
			}
	
			p {
				text-align: center;
				color: $osnovnoy-temnyy;
				font-weight: 700;
				margin-top: 10px;
				@include adaptiveValue("font-size", 30, 20,0,1320,768);
			}
	
			&.r {
				span {
					left: 100%;
					top: 50%;
					translate: 0 -50%;
					width: 30px;
					height: 68.333333%;
	
					/* 205/300 */
					&::before,
					&::after {
						width: 100%;
						height: 20px;
					}
	
					&::before {
						left: 0;
						top: -10px;
					}
	
					&::after {
						right: 0;
						bottom: -10px;
					}
				}
			}
		}

		&__content {
			display: grid;
			justify-items: center;
		}
	}


	

	.b {
		background-color: initial;
		border: 2px solid $mainColor;
	}

	.c {
		border-bottom-right-radius: 0;
	}

	.d {
		border-top-left-radius: 0;
	}

	.page {

		&__details {
		}
}
.details {

		&__container {
		}

		&__title {
		}

		&__body {
		}

		&__item {

			&_1 {
			}

			&_2 {
				p {
					color: $mainColor;
				}
			}

			&_3 {
			}

			&_4 {
			}

			&_5 {
			}

			&_6 {
			}

			&_7 {
				p {
					color: $mainColor;
				}
			}

			&_8 {
			}
		}

		&__content {
		}
}
.title {
}
.q {
}
.b {
}
.c {
}
.r {
}
.d {
}
