// Заголовки, общие БЄМ блоки и прочее...
.title {
	line-height: 1.13;
	font-weight: 700;
	text-transform: uppercase;
	text-wrap: balance;
	&_temnyy.title {
		color: $dop-temnyy
	}
	@include adaptiveValue("margin-bottom", 40, 20,0,1320,768);
	@include adaptiveValue("font-size", 40, 20,0,1320,768);
}
.subtitle {
	font-weight: 700;
		@media (max-width:$mobile){
			 color: $osnovnoy-temnyy;
		}
		@include adaptiveValue("font-size", 30, 18,0,1320,768);
	
}

.text {
	font-weight: 500;
	line-height: 1.26;
	&_temnyy.text {
		color: $dop-temnyy;
	}
	@media (max-width:$mobileSmall){
		 font-size: 15px; 
	}
}
.button {
	font-weight: 700;
	font-size: 19px;
	padding-block: 25px;
	color: $mainColor;
	border-radius: 10px;
	transition: background-color 0.3s, color 0.3s;
	&:hover {
		background-color: #426f37;
	}
	&:active {
		background-color: #426f37;
	}
	@media (max-width:$mobile){
		 padding-block: 20px; 
	}
	&_invert.button {
		background-color: $mainColor;
		color: $dop-temnyy;
		&:hover, &:active{
			color: $mainColor;
			background-color: $dop-temnyy;
		}
	}
}

.arrow {
	display:grid ;
	 place-items:center;
	 border-radius: 50%;
	width: 70px;
	background-color: $mainColor;
	aspect-ratio: 1/1;
	img {
		transition: rotate 0.3s;
	}
	&:hover{
		img {
			rotate: 90deg;
		}
	}
	@media (max-width:$mobile){
		 width: 50px; 
	}
}

.pagination {
	display: flex;
	justify-content: center;
	gap: 5px;
	@include adaptiveValue("margin-top", 30, 10,0,1320,768);
	.swiper-pagination-bullet {
		cursor: pointer;
		border-radius: 50%;
		width: 15px;
		aspect-ratio: 1/1;
		border: 1px solid $dop-svetlyy;
		background-color: $osnovnoy-temnyy;
		transition: background-color 0.5s;
		@media (max-width:$mobileSmall){
			 width: 10px; 
		}
	}

	.swiper-pagination-bullet-active {
		background-color: $dop-svetlyy;
	}

	&_invert.pagination {
		.swiper-pagination-bullet {
			border: 1px solid $dop-temnyy;
		background-color: $mainColor;
		}
		.swiper-pagination-bullet-active {
			background-color: $dop-temnyy;
		}
	}
}
