.contacts-page .banner__title {
	margin-bottom: 0;
}

.contacts-page .contacts {
	padding-block: 0;
	background-color: initial;
	color: $dop-temnyy;
	&__container {
	}

	&__title {
	}

	&__content {
	}

	&__who {
	}

	&__subtitle {

		&_who {
		}
	}

	&__text {
	}

	&__phone {
	}

	&__subtext {

		&_two {
		}
	}

	&__link {
	}

	&__social {
	}

	&__link-social {
	}

	&__map {
	}
}

