.daterangepicker {
	box-shadow: 4px 4px 4px 0px #5B514733;
	.drp-buttons {
		color: $dop-temnyy;
	}
	.weekend {
	  color: #C82828;
	}
 
	.table-condensed {
	  thead {
		 th {
			min-width: 36px;
			border: none;
			color: $dop-temnyy;
		 }
	  }
 
	  tbody {
		 td {
			border: none;
			&.available {
			  // border: 1px solid var(--color-main);
			  outline: 1px solid $dop-temnyy;
			  color: $dop-temnyy;
			  &.active {
				color: #fff;
			  }
			  &.off {
				 border: none;
			  }
			}
			&.active {
			  &.start-date {
				 background: linear-gradient(90deg, #A5896F 2.5%, #50453B 100%);
			  }
 
			  &.end-date {
				 background: linear-gradient(90deg, #50453B 0%, #A5896F 100%);
			  }
			}
			&.in-range {
			  background: #50453B;
			  color: #fff;
			}
		 }
	  }
	}
 }

 .daterangepicker .calendar-table table {
	border-collapse: separate;
	border-spacing: 3px;
 }
 .daterangepicker .drp-calendar {
	max-width: 300px;
 }

 .daterangepicker .table-condensed thead th:nth-child(6),
 .daterangepicker .table-condensed thead th:nth-child(7) {
	color: #C82828;
 }

 .daterangepicker .table-condensed tbody td.in-range {
	border-radius: 2px;
 }
 
 .daterangepicker {
	@media (max-width: toEm(564)){
		  width: 310px;
	}
 }

