.header {
	background-color: $mainColor;
	// background-color: blue;
	color: $dop-temnyy;
	padding-block: 30px;
	line-height: 1.04;
	@media (max-width:$tablet){
		padding-block: 15px;
	}
	.select-item & {
		padding-block: 0;
	}
	&__container {
		display: flex;
		align-items: center;
		gap: 30px;
		.select-item & {
			justify-content: space-between;
			gap: 0;
		}
	}

	&__logo {
		position: relative;
		z-index: 4;
		flex: 0 0 190px;
		@include adaptiveValue("flex-basis", 190, 89,0,1290,360);
		img {
		 width:100%;
		 height:auto
		}
	}

	&__menu {
		.select-item & {
		// align-self: stretch;
		}
	}

	&__actions {
		position: relative;
		.select-item & {
			margin-left: 0;
			align-self: stretch;
		background-color: $osnovnoy-temnyy;
		border-radius: 20px 20px 0 0;
		&::before{
			content:'';
			position: absolute;
			right: 100%;
			bottom: 0;
			background-color: #ff000000;
    height: 100%;
    width: 100%;
    border-radius: 0 0 20px 0;
		}
		}
	}
}
.container {
}
.menu {
	&__body {
	}

	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		column-gap: 30px;
		position: relative;
		z-index: 2;
		row-gap: 10px;
	}

	&__item {
		&_group {
			position: relative;
		}
	}

	&__link {
		font-weight: 700;
		font-size: 18px;
		/* line-height: 19px; */
		position: relative;
		&::after{
			content:'';
			position: absolute;
			left: 0;
			bottom: -5px;
			height: 2px;
			background-color: $dop-temnyy;
			width: 0;
			transition: width 0.3s;
		}
		&:hover{
			&::after {
				width: 100%;
			}
		}
	}

	&__subtitle {
		position: relative;
		z-index: 2;
		display: flex;
		gap: 5px;
		flex-wrap: nowrap;
		@media (max-width:$tablet){
			justify-content: flex-end;
		}
		img {
			transition: rotate 0.3s;
		}
		@media (any-hover: hover){
			&:hover{
				img {
				rotate: -180deg;
			}
			}
		}
		._menu__item-active & img {
			rotate: -180deg;
		}
	}

	&__sublist {
		border-radius: 10px;
		display: grid;
		gap: 10px;
		z-index: 1;
		background-color: $mainColor;
		opacity: 0;
		transition: translate 0.3s, opacity 0.3s;
		@media (min-width:$tablet){
			translate: -50% -5%;
			top: -10px;
		width: calc(100% + 20px);
			left: 50%;
			box-shadow: 4px 4px 10px 0 rgba(91, 81, 71, 0.2);
			position: absolute;
			padding: 40px 10px 10px 10px;
			  
		}
		@media (max-width:$tablet){
			height: 0;
			position: relative;
			opacity: 0;
		visibility: hidden;
		}
		&._sub-menu-open {
			margin-top: 20px;
			visibility: visible;
			opacity: 1;
			height: 100%;
		}
		@media (any-hover: hover){
			.menu__item_group:hover & {
				opacity: 1;
				translate: -50% 0;
			}
		}
		
	}

	&__subitem {
	}

	&__sublink {
		font-weight: 500;
		font-size: 15px;
		@media (max-width:$tablet){
			font-size: 20px;
		}
	}

	&__icon {
	}
}
.actions-header {
	margin-left: auto;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 4;
	.menu-open & svg path {
		fill: $dop-temnyy;
		stroke: $dop-temnyy;
	}
	@media (min-width:$mobile){
		@include adaptiveValue("gap", 30, 5,0,1320,768);
		 @include adaptiveValue("margin-right", 36, 26,0,1320,768); 
		 .select-item & {
		margin-right: 0;
				 @include adaptiveValue("padding-right", 36, 26,0,1320,768); 
				 @include adaptiveValue("padding-left", 36, 26,0,1320,768); 

	}
	}
	@media (max-width:$mobile){
		@include adaptiveValue("gap", 26, 12,0,767.98,320);
	}
	@media (max-width:$tablet){
		.menu-open & {
			margin-right: 0;
		}
		 @include adaptiveValue("margin-right", 36, 10,0,768,360); 
		.select-item & {
		margin-right: 0;
		 @include adaptiveValue("padding-right", 36, 10,0,768,360); 
		 @include adaptiveValue("padding-left", 36, 10,0,768,360); 
	}
	}
	&__link {
		transition: scale 0.3s;
		@media (any-hover: hover){
			&:hover{
				scale: 1.05;
			}
		}
		@include adaptiveValue("width", 40, 24,0,1320,360);
		img {
		 width:100%;
		 height:auto
		}
	}
	& .icon-menu {
		@include adaptiveValue("width", 40, 24,0,1320,360);
	}

	&__button {
		background-color: $osnovnoy-temnyy;
		padding-inline: 42px;
		padding-block: 23px;
		.select-item & {
			background-color: $mainColor;
			color: $dop-temnyy;
		}
		@media (min-width:$mobile){
			 @include adaptiveValue("padding-inline", 42, 10,0,1320,768); 
			 @include adaptiveValue("padding-block", 23, 7,0,1320,768); 
		}
		@media (max-width:$tablet){
			 display: none; 
		}
	}
}
