.page {

	&__payment {
		@include adaptiveValue("margin-top", 80, 40,0,1320,768);
	}
}
.payment {

	&__container {
	}

	&__title {
	}

	&__body {
	}

	&__text {
		&:not(:last-child) {margin-bottom: toRem(40);}
		@media (max-width:$mobile){
			 &:not(:last-child) {margin-bottom: toRem(20);} 
		}
	}

	&__list {
		margin-bottom: 40px;
		// list-style-type: circle;
		@media (max-width:$mobile){
			margin-bottom: 20px; 
		}
	}
	
	&__item {
		list-style-type: disc;
		margin-left: 40px;
		&::marker {
			color: #000;
		}
	}
}
.title {

	&_temnyy {
	}
}
.subtext {

	&_temnyy {
	}
}

.page {

	&__requizits {
		@extend .page__payment
	}
}
.requizits {

	&__container {
	}

	&__title {
	}
}
.title {

	&_temnyy {
	}
}
