.banner {
	.select-item & {
		padding-bottom: 0;
	}

	&__container {
	}

	&__content {
		.select-item & {
			
			height: initial;
			background: $osnovnoy-temnyy;
			margin-top: 0;
			border-top-right-radius: 0;
			@include adaptiveValue("padding-block", 100, 25,0,1320,360);
			&.rent .banner__body {
				max-width: 100%;
				left: 50%;
				translate: -50%;
				bottom: -16px;
				padding-inline: initial;
			}
			@media (max-width: $mobile) {
				&.rent {
					padding-top: 80px;
					padding-bottom: 0;
					& .banner__body {
					}
				}
			}
		}
	}

	&__body {
		.select-item & {
			position: relative;
			top: initial;
			bottom: initial;
			left: initial;
			translate: initial;
			padding-inline: 50px;
			max-width: 75%;
			@media (max-width: $tablet) {
				bottom: 20px;
			}

			@media (max-width: $mobile) {
				top: 0px;
				padding-inline: 15px;
			}
		
		}
	}

	&__title {
		.select-item & {
			padding-top: 0px;
			@media (max-width: $tablet) {
				margin-bottom: 15px;
				margin-left: 15px;
			}
		}
	}

	&__form {
		.select-item & {
			@media (min-width: $mobile) {
				background-color: initial;
			}
		}
	}
}

//========================================================================================================================================================

.page {
	&__rooms {
		&_one {
			margin-top: 40px;
		}
	}
}

//========================================================================================================================================================

.details {
	.select-item & {
		background-color: inherit;
	}

	&__container {
	}

	&__title {
		.select-item & {
			color: $dop-temnyy;
		}
	}

	&__body {
		&::after {
			.select-item & {
				border: 2px solid $osnovnoy-temnyy;
			}
		}
	}

	.select-item &__item {
		&_1,
		&_3,
		&_4,
		&_5,
		&_6,
		&_8 {
			@media (min-width: $mobileSmall) {
				background-color: $osnovnoy-temnyy;
				p {
					color: $mainColor;
				}
				svg path {
					fill: $mainColor;
				}
			}
		}

		&_2,
		&_7 {
			@media (min-width: $mobileSmall) {
				border: 2px solid $osnovnoy-temnyy;
				p {
					color: $osnovnoy-temnyy;
				}
				svg path {
					fill: $osnovnoy-temnyy;
				}
			}
			@media (max-width: $mobileSmall) {
				border: none;
			}
		}

		&_1,
		&_2,
		&_5,
		&_6 {
			@media (max-width: $mobileSmall) {
				background-color: $osnovnoy-temnyy;
				p {
					color: $mainColor;
				}
				svg path {
					fill: $mainColor;
				}
			}
		}

		&_3,
		&_4,
		&_7,
		&_8 {
			@media (max-width: $mobileSmall) {
				background-color: $mainColor;
				outline: 2px solid $osnovnoy-temnyy;
				p {
					color: $osnovnoy-temnyy;
				}
				svg path {
					fill: $osnovnoy-temnyy;
				}
			}
		}
		&_5 {
			svg path {
				stroke: $mainColor;
			}
		}
		&_3,
		&_7 {
			@media (max-width: $mobileSmall) {
				.details__decor[class] {
					background-color: $mainColor;
					border-color: $mainColor;
					&::before,
					&::after {
						border-color: $osnovnoy-temnyy;
					}
					&::after {
						top: -3px;
						height: 22px;
						background: url("@img/main/details/circkle2.png") 0 0 / contain no-repeat;
						rotate: 180deg;
					}
					&::before {
						top: -3px;
						height: 22px;
						background: url("@img/main/details/circkle2.png") 0 0 / contain no-repeat;
						rotate: 0deg;
					}
				}
			}
		}
	}

	&__decor {
		.select-item & {
			background-color: $osnovnoy-temnyy;

			&::before,
			&::after {
				background-color: $mainColor;
			}
		}
	}

	&__content {
	}

	.select-item &__decor-r {
		background-color: $osnovnoy-temnyy;

		&::before,
		&::after {
			background-color: $mainColor;
		}
	}
}

//========================================================================================================================================================
.select-item .questions {
	@include adaptiveValue("margin-bottom", 80, 40, 0, 1320, 768);
}
